*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 1s;
}

.container{
    width: 350px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 2px;
    box-shadow: none;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #323249;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover{
    background-color: rgb(11, 11, 14);
}

#message{
    margin-top: 15px;
    font-weight: bold;
    color: red;
}